.reloj {
	padding: 90px;
	background-image: url("../img/giro.png");
/*	width: 350px;
	height: 350px;*/
	border-radius: 370px;
	background-color: #0f0f0f;
	background-size: 100%;
	border: 14px solid #222;
	display: flex;
	margin: auto;
}

#vistaReloj>div {
	background-color: rgba(255, 255, 255, 0);
	font-family: Century Gothic;
}


.reloj img {
	position: relative;
	height: 200px;
	transition: all 0.5s
}


.reloj #minutos   {
	position: absolute;
}
.reloj #segundos {
	position: absolute;
}

.flex {
	display: flex;
}

.flex .contenido {
	/*background-color: #fff;
	box-shadow: 0px 0px 20px #ccc;
	margin: 22px;*/
	padding: 32px;
	flex: 4 4;
}
.flex .contenido:first-child {
	flex: 5 5;
}


@media (max-width: 960px) {
	.reloj {
		padding: 10px;
		transform: scale(0.7);
	}

	#vistaReloj>h2 {
		/*padding-left: 12.5em;*/
		display: block;
	}
	#vistaReloj>div>.flex>.contenido {
		margin-bottom: 150px;
	}
}