
.icon-fridge:before { content: '\e800'; } /* '' */
.icon-arrows-cw:before { content: '\e801'; } /* '' */
.icon-snowflake:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-cog-outline:before { content: '\e805'; } /* '' */
.icon-bell:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-exchange:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */