/*FUENTE DIGITAL*/
@font-face {
    font-family: "DS-Digital";
    src: url("../font/DS-DIGI.TTF") format('truetype');
}



/*VARIABLES*/
:root {
    --background-color: #181818;
    --border-color: #0f0f0f;
    --main-color: #fff;
    --activated-color: #fff;
    --activated-opacity: .3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*CLASES*/

.alarma {
    color: #f00 !important;
}

.bajoConsumo {
    opacity: .65;
    transition: .7s;
}

.altoConsumo {
    opacity: 1;
    transition: .7s;
}

.ocultar {
    display: none !important;
}

.invisible {
    opacity: 0;
}

.desactivado {
    opacity: var(--activated-opacity);
    color: var(--activated-color);
}

.ajustaTemp {
    font-size: 10em !important;
    /*font-size: 25em !important;*/
}

.recibeFoco {
    background-color: var(--background-color);
    border-color: var(--border-color) !important;
    cursor: pointer;
    transition: .15s;
}

.alarmaVibracion {
    animation: vibracion .5s 50;
}

.fade-out {
    animation: fadeOut 1.4s;
}

.fade-in {
    animation: fadeIn 1.4s;
}

#vistaCompra button {
    padding: 5px;
    height: auto;
}

.lista, #vistaPedido {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}
    .lista>p {
        margin-bottom: 1em;
    }
    #vistaPedido>button {
        font-size: 1em;
        width: auto;
        height: auto;
        padding: .5em;
        margin-top: .8em;
    }

.botonAceptar,
.botonSubir,
.botonCancelar {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    font-weight: bold;
}

.botonAceptar:hover,
.botonSubir:hover,
.botonCancelar:hover {
    cursor: pointer;
}

.botonCancelar {
    background-color: #f00;
}

.botonCancelar:hover {
    background-color: #ff4d4d;
}

.botonAceptar {
    background-color: #0f0;
}

.botonAceptar:hover {
    background-color: #4dff4d;
}

.botonSubir {
    background-color: rgb(235, 235, 235);
}

.botonSubir:hover {
    background-color: rgb(163, 163, 163);
}

#historiales {
    text-align: center;
}

.btn-historial {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    width: auto;
    height: auto;
    padding: .3em;
    cursor: pointer;
    font-family: sans-serif;
    font-size: .6em;
    margin-top: .6em;
}

#h-consumo, #h-temperatura {
    text-align: center;
}

    #h-consumo>h3, #h-temperatura>h3 {
        margin-bottom: -100px;
    }

    #grafico-consumo, #grafico-temperatura {
        transform: scale(0.2);
        margin-bottom: -80px;
        margin-left: -89px;
    }

        #h-consumo>button, #h-temperatura>button {
            font-size: 1.2em;
            margin-top: 1em;
            width: auto;
            height: auto;
            padding: 3px;
        }

.vistaCompartimento {
    padding: 25px 10px;;
    font-family: sans-serif;
    color: var(--main-color);
    font-size: 1.2em;
}

    #vistaRefrigerador {
        display: block;
    }

    .vistaCompartimento>p {
        margin: 60px 0;
        text-align: center;
        font-size: 1em;
    }

    .vistaCompartimento>h2 {
        text-align: center;
        font-size: 1.2em;
    }

    .vistaCompartimento>div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .vistaCompartimento>div:nth-child(2)>article {
            padding: 20px;
        }
        main>#vistaAjustes>div:nth-child(2)>article {
            padding: 15px;
        }

        .vistaCompartimento>div:nth-child(2)>article:first-child {
            font-size: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .vistaCompartimento>div:nth-child(2)>article>h3 {
                margin-bottom: 15px;
            }
            main>#vistaAjustes>div:nth-child(2)>article {
                font-size: .8em;
            }

            .vistaCompartimento>div:nth-child(2)>article>div {
                padding: 10px;
            }

            .vistaCompartimento>div:nth-child(2)>article>h3 {
                text-align: center;
            }

                .vistaCompartimento>div:nth-child(2)>article>input,
                .vistaCompartimento>div:nth-child(2)>article>div>input {
                    transform: scale(2);
                }
                main>#vistaAjustes>div:nth-child(2)>article>#country {
                    transform: scale(.8);
                    margin-left: -17px;
                }

                .vistaCompartimento>div:nth-child(2)>article>div>input {
                    margin-left: 3em;
                }

                .vistaCompartimento>div:nth-child(2)>article>div>label {
                    font-size: .85em;
                    padding: 10px 5px;
                    margin-left: 5px;
                }
                main>#vistaAjustes>div:nth-child(2)>article>div>label {
                    font-size: .7em;
                    padding: 5px 0px;
                }

    .vistaCompartimento>div:last-child {
        display: flex;
        justify-content: center;
        transform: scale(0.7);
    }

/********************* CSS Interfaz de Menú *********************/


/*Pantalla de Inicio*/
html {
    width: 100%;
    height: 100%;
    min-width: 360px;
}

body {
    background-color: #000;
    width: 100%;
    height: 100%;
}

#inicio {
    width: 100%;
    height: 100%;
}

#inicio>header {
    width: 100%;
    height: 6%;
    align-items: center;
    margin-bottom: 1em;
}
    
    #inicio>header>p {
        height: 100%;
        color: var(--main-color);
        font-size: 1em;
        font-family: sans-serif;
        display: block;
        justify-content: space-between;
        
    }
        .alarma {
            font-size: 0.8em;
        }

        #inicio>header>p>a:nth-child(2) {
            color: var(--main-color);
            text-decoration: none;
        }

            #inicio>header>p>a:nth-child(2)>time {
                font-family: 'DS-Digital';
                font-size: 1.6em;
            }

            /*#inicio>header>p>a>time,
            #inicio>header>p>time,
            #inicio>header>p>a>span {
                padding: 0 13px;
            }*/
            #inicio>header>p>a>span {
                padding: 0 22px;
            }
            #inicio>header>p>a>time,
            #inicio>header>p>time {
                padding: 10px 5px;
            }
            /*cambios*/

            #inicio>header>p>a:nth-child(2)>time {
                /*position: relative;*/
                left: 40px;
            }

            #inicio>header>p>a>span {
                position: relative;
                top: 20px;
                font-size: 1.7em;
                color: var(--main-color);
            }

#inicio>main {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

    #inicio>main>div {
        width: 50%;
        background-color: var(--background-color);
        border-radius: 2%;
        border: solid 3px var(--border-color);
    }

    #inicio>main>nav {
        width: 25%;
        height: 100%;
    }

        #inicio>main>nav>ul {
            height: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

        #inicio>main>nav:first-child>ul {
            align-items: flex-end;
        }

        #inicio>main>nav:last-child>ul {
            align-items: flex-start;
        }

            #inicio>main>nav>ul>li {
                height: 33.33%;
                display: flex;
                align-items: center;
                border-radius: 5%;
                border: 3px solid #000;
            }
/*
            #inicio>main>nav>ul>li:hover {
                background-color: var(--background-color);
                border: 3px solid var(--border-color);
                cursor: pointer;
                transition: .3s;
            }
*/
            #inicio>main>nav:first-child>ul>li:nth-child(2),
            #inicio>main>nav:first-child>ul>li:nth-child(3),
            #inicio>main>nav:last-child>ul>li:last-child {
                /*font-size: 6em;*/
                font-size: 3em;
            }

            #inicio>main>nav:last-child>ul>li:nth-child(1),
            #inicio>main>nav:last-child>ul>li:nth-child(2) {
                /*font-size: 7em;*/
                font-size: 3.5em;
            }

            #inicio>main>nav:last-child>ul>li:last-child {
                /*font-size: 5.8em;*/
                font-size: 2.9em;
            }


            /*Barra lateral izquierda
            #inicio>main>nav:first-child>ul>li:first-child {
                padding: 0 17px;
            }*/

                #inicio>main>nav>ul>li>a {
                    color: var(--main-color);
                    text-decoration: none;
                }

                #inicio>main>nav>ul>li>a>p:nth-child(2) {
                    font-size: 0.258em;
                    text-align: center;
                    font-family: sans-serif;
                }

                    #inicio>main>nav:first-child>ul>li:first-child>a>p>span {
                        position: relative;
                    }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(1) {
                            left: 11px;
                            font-size: 2.5em;
                        }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(2) {
                            /*bottom: 5px;*/
                            left: 20px; /*nueva*/
                            font-size: 1.5em;
                        }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(3) {
                            /*right: 5px;*/
                            left: 11px; /*nueva*/
                            font-size: 2.3em; /*cambiado */
                        }

            #inicio>main>nav:first-child>ul>li:nth-child(2) {
                /*padding: 0 26.5px;*/
                padding: 0 10px;/*nueva*/
            }

            #inicio>main>nav:first-child>ul>li:last-child {
                /*padding: 0 26.5px;*/
                padding: 0 10px;/*nueva*/
            }


            /*Barra lateral izquierda
            #inicio>main>nav:last-child>ul>li:nth-child(1),
            #inicio>main>nav:last-child>ul>li:nth-child(2) {
                /*padding: 0 10px;
            }*/

            #inicio>main>nav:last-child>ul>li:last-child {
                /*padding: 0 23.5px;*/
                padding: 0 8px;/*nueva*/
            }

    #inicio>main>div {
        /*display: flex;*/
        justify-content: center;
        position: relative;
    }

        #inicio>main>div>p {
            position: absolute;
            top: 100px;
        }
        #inicio>main>#vistaAlarma>p, #inicio>main>#vistaPedido>p {
            position: static;
            top: 100px;
        }

            #inicio>main>#vistaPedido>p>button {
                transform: scale(0.8);
            }

            #inicio>main>div>p>output {
                font-family: "DS-Digital";
                /*font-size: 13em;*/
                font-size: 6em;/*nueva*/
                color: var(--main-color);
                position: relative;
                padding-left: .2em;
            }

            #inicio>main>div>p>output:hover,
            #bloqueo output:hover {
                cursor: default;
            }

                #inicio>main>div>p>output>span {
                    position: absolute;
                    font-size: 0.25em;
                    right: -18px;
                    top: 25px;
                }

#inicio>footer {
    width: 100%;
    height: 6%;
    padding: 20px;
    background-color: #000;
}



/*Vista de ajustes del frigorifico*/

#vistaAjustes>div {
    font-family: sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
}

#country {
    transform: scale(1.5);
}




/*Pantalla de Bloqueo*/

#bloqueo {
    background-color: #000;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    font-family: "DS-Digital";
}

#bloqueo>div,
#bloqueo>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /*nueva*/
}

    #bloqueo>div>h2 {
        position: fixed;
        top: 20px;
        /*top: 50px;*/
    }

        #bloqueo>div>h2>a>img {
            width: 100px;
            /*width: 140px;*/
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            border-radius: 50%;
        }

    #bloqueo>div>div {
        position: relative;
        /*top: 100px;*/
        top: 140px;
        display: block;/*nueva*/
    }

    #bloqueo>div>div>div {
        margin: 15px;
    }

        #bloqueo>div>div>div:first-child>time {
            display: block;
            text-align: center;
        }

        #bloqueo>div>div>div:first-child>time:first-child {
            /*font-size: 11em;*/
            font-size: 8em;
            padding-bottom: 40px;
        }

        #bloqueo>div>div>div:first-child>time:nth-child(2) {
            font-family: sans-serif;
            font-size: 2.5em;
            /*font-size: 4em;*/
        }

        #tempFrigo {
            font-size:5em;
            /*font-size: 30em;*/
        }

        /*.ajustaTemp {
            font-size: 10em;
        }*/

        #bloqueo output>img {
            width: 100px;
            /*width: 210px;*/
        }

#article {
    padding: 10px;
}

    #article>h3 {
        font-size: .8em;
    }



@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes vibracion {
    0% { transform: translate(0px, 0px); }
    10% { transform: translate(5px, 0px); }
    20% { transform: translate(0px, 0px); }
    30% { transform: translate(-5px, 0px); }
    40% { transform: translate(0px, 0px); }
    50% { transform: translate(5px, 0px); }
    60% { transform: translate(0px, 0px); }
    70% { transform: translate(-5px, 0px); }
    80% { transform: translate(0px, 0px); }
    90% { transform: translate(5px, 0px); }
    100% { transform: translate(0px, 0px); }
}