/*FUENTE DIGITAL*/
@font-face {
    font-family: "DS-Digital";
    src: url("../font/DS-DIGI.TTF") format('truetype');
}



/*VARIABLES*/
:root {
    --background-color: #181818;
    --border-color: #0f0f0f;
    --main-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*CLASES*/

.ocultar {
    display: none !important;
}

.invisible {
    opacity: 0;
}

.desactivado {
    opacity: 0.3;
}

.ajustaTemp {
    font-size: 25em !important;
}

.recibeFoco {
    background-color: var(--background-color);
    border-color: var(--border-color) !important;
    cursor: pointer;
    transition: .15s;
}

.fade-out {
    animation: fadeOut 1.4s;
}

.fade-in {
    animation: fadeIn 1.4s;
}

.boton {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    font-weight: bold;
    background-color: #0f0;
}

.boton:hover {
    background-color: #4dff4d;
    cursor: pointer;
}

.vistaCompartimento {
    padding: 45px 10px;;
    font-family: sans-serif;
    color: var(--main-color);
    font-size: 1.5em;
}

    .vistaCompartimento>h2 {
        text-align: center;
    }

    .vistaCompartimento>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

        .vistaCompartimento>div:nth-child(2)>article {
            padding: 20px;
        }

        .vistaCompartimento>div:nth-child(2)>article:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .vistaCompartimento>div:nth-child(2)>article>h3 {
                margin-bottom: 15px;
            }

            .vistaCompartimento>div:nth-child(2)>article>div {
                padding: 10px;
            }

            .vistaCompartimento>div:nth-child(2)>article>h3 {
                text-align: center;
            }

                .vistaCompartimento>div:nth-child(2)>article>input,
                .vistaCompartimento>div:nth-child(2)>article>div>input {
                    transform: scale(3);
                }

                .vistaCompartimento>div:nth-child(2)>article>div>label {
                    font-size: .85em;
                    padding: 10px;
                    margin-left: 5px;
                }

    .vistaCompartimento>div:last-child {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }



/********************* CSS Interfaz de Menú *********************/


/*Pantalla de Inicio*/
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    width: 100%;
    height: 100%;
}

#inicio {
    width: 100%;
    height: 100%;
}

#inicio>header {
    width: 100%;
    height: 6%;
}

    #inicio>header>p {
        height: 100%;
        color: var(--main-color);
        font-size: 1.3em;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        #inicio>header>p>a:nth-child(2) {
            color: var(--main-color);
            text-decoration: none;
        }

            #inicio>header>p>a:nth-child(2)>time {
                font-family: 'DS-Digital';
                font-size: 1.6em;
            }

            #inicio>header>p>a>time,
            #inicio>header>p>time,
            #inicio>header>p>a>span {
                padding: 0 13px;
            }

            #inicio>header>p>a:nth-child(2)>time {
                position: relative;
                left: 40px;
            }

            #inicio>header>p>a>span {
                position: relative;
                top: 20px;
                font-size: 1.7em;
                color: var(--main-color);
            }

#inicio>main {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

    #inicio>main>div {
        width: 50%;
        background-color: var(--background-color);
        border-radius: 2%;
        border: solid 3px var(--border-color);
    }

    #inicio>main>nav {
        width: 25%;
        height: 100%;
    }

        #inicio>main>nav>ul {
            height: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

        #inicio>main>nav:first-child>ul {
            align-items: flex-end;
        }

        #inicio>main>nav:last-child>ul {
            align-items: flex-start;
        }

            #inicio>main>nav>ul>li {
                height: 33.33%;
                display: flex;
                align-items: center;
                border-radius: 5%;
                border: 3px solid #000;
            }
/*
            #inicio>main>nav>ul>li:hover {
                background-color: var(--background-color);
                border: 3px solid var(--border-color);
                cursor: pointer;
                transition: .3s;
            }
*/
            #inicio>main>nav:first-child>ul>li:nth-child(2),
            #inicio>main>nav:first-child>ul>li:nth-child(3),
            #inicio>main>nav:last-child>ul>li:last-child {
                font-size: 6em;
            }

            #inicio>main>nav:last-child>ul>li:nth-child(1),
            #inicio>main>nav:last-child>ul>li:nth-child(2) {
                font-size: 7em;
            }

            #inicio>main>nav:last-child>ul>li:last-child {
                font-size: 5.8em;
            }


            /*Barra lateral izquierda*/
            #inicio>main>nav:first-child>ul>li:first-child {
                padding: 0 17px;
            }

                #inicio>main>nav>ul>li>a {
                    color: var(--main-color);
                }

                    #inicio>main>nav:first-child>ul>li:first-child>a>p>span {
                        position: relative;
                    }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(1) {
                            left: 11px;
                            font-size: 2.5em;
                        }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(2) {
                            bottom: 5px;
                            font-size: 1.5em;
                        }

                        #inicio>main>nav:first-child>ul>li:first-child>a>p>span:nth-child(3) {
                            right: 5px;
                            font-size: 2.5em;
                        }

            #inicio>main>nav:first-child>ul>li:nth-child(2) {
                padding: 0 26.5px;
            }

            #inicio>main>nav:first-child>ul>li:last-child {
                padding: 0 26.5px;
            }


            /*Barra lateral izquierda*/
            #inicio>main>nav:last-child>ul>li:nth-child(1),
            #inicio>main>nav:last-child>ul>li:nth-child(2) {
                padding: 0 10px;
            }

            #inicio>main>nav:last-child>ul>li:last-child {
                padding: 0 23.5px;
            }

    #inicio>main>div:nth-child(2) {
        display: flex;
        justify-content: center;
        position: relative;
    }

        #inicio>main>div:nth-child(2)>p {
            position: absolute;
            top: 80px;
        }

            #inicio>main>div:nth-child(2)>p>output {
                font-family: "DS-Digital";
                font-size: 13em;
                color: var(--main-color);
                position: relative;
            }

            #inicio>main>div:nth-child(2)>p>output:hover,
            #bloqueo output:hover {
                cursor: default;
            }

                #inicio>main>div:nth-child(2)>p>output>span {
                    position: absolute;
                    font-size: 0.25em;
                    right: -18px;
                    top: 25px;
                }

#inicio>footer {
    width: 100%;
    height: 6%;
    padding: 20px;
    background-color: #000;
}




/*Pantalla de los distintos pop-up*/





/*Pantalla de Bloqueo*/

#bloqueo {
    background-color: #000;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    font-family: "DS-Digital";
}

#bloqueo>div,
#bloqueo>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #bloqueo>div>h2 {
        position: fixed;
        top: 50px;
    }

        #bloqueo>div>h2>a>img {
            width: 140px;
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            border-radius: 50%;
        }

    #bloqueo>div>div {
        position: relative;
        top: 180px;
    }

    #bloqueo>div>div>div {
        margin: 15px;
    }

        #bloqueo>div>div>div:first-child>time {
            display: block;
            text-align: center;
        }

        #bloqueo>div>div>div:first-child>time:first-child {
            font-size: 11em;
            padding-bottom: 40px;
        }

        #bloqueo>div>div>div:first-child>time:nth-child(2) {
            font-family: sans-serif;
            font-size: 4em;
        }

        #tempFrigo {
            font-size: 30em;
        }

        #bloqueo output>img {
            width: 210px;
        }



@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}